@page
@model G5Foods.Pages.Customer.Shop.IndexModel
@{
}

@await Html.PartialAsync("/Pages/Shared/_Header_Customer.cshtml")
<body>

	<!-- search area -->
	<div class="search-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<span class="close-btn"><i class="fas fa-window-close"></i></span>
					<div class="search-bar">
						<div class="search-bar-tablecell">
							<h3>Search For:</h3>
							<input type="text" placeholder="Keywords">
							<button type="submit">Search <i class="fas fa-search"></i></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end search arewa -->
	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>Fresh and Organic</p>
						<h1>Shop</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!-- products -->
	<div class="product-section mt-150 mb-150">
		<div class="container">


			<form method="get">
				<div class="input-group mb-3">
					<input type="text" class="form-control" placeholder="Search by product name" name="productName">
					<div class="input-group-append">
						<button class="btn btn-outline-secondary" type="submit">Search</button>
					</div>
				</div>
			</form>

			<!-- Product filters -->
			<div class="row">
				<div class="col-md-12">
					<div class="product-filters">
						<ul>
							<li class="active"><a asp-page="/Customer/Shop/Index">All</a></li>
							@foreach (var category in Model.Categories)
							{
								<li><a asp-page="/Customer/Shop/Index" asp-route-category="@category.CategoryName">@category.CategoryName</a></li>
							}
						</ul>
					</div>
				</div>
			</div>
			<!-- End product filters -->

			<div class="row product-lists">
				@foreach (var item in Model.Product)
				{
					<div class="col-lg-4 col-md-6 text-center">
						<div class="single-product-item">
							<div class="product-image">
								<a href="/customer/shop/details?id=@item.ProductId"><img src="/assets/img/products/@item.Image" alt=""></a>
							</div>
							<h3>@item.ProductName</h3>
							<p class="product-price"><span>Per Kg</span> @item.UnitPrice$ </p>
							<a href="/customer/shop/details?id=@item.ProductId" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>

						</div>
					</div>
				}
			</div>

			<div class="row">
				<div class="col-lg-12 text-center">
					<div class="pagination-wrap">
						<ul>
							<li><a href="#">Prev</a></li>
							<li><a href="#">1</a></li>
							<li><a class="active" href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">Next</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end products -->
	<!-- logo carousel -->
	<div class="logo-carousel-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="logo-carousel-inner">
						<div class="single-logo-item">
							<img src="assets/img/company-logos/1.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="assets/img/company-logos/2.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="assets/img/company-logos/3.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="assets/img/company-logos/4.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="assets/img/company-logos/5.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end logo carousel -->

</body>
@await Html.PartialAsync("/Pages/Shared/_Footer_Customer.cshtml")